@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --grey: #e3e3e3;
    --warm-black: #2d2121;
    --btns-1: #0e0e0e;
    --btns-2: #1c1c1c;
    --btns-3: #292929;
    --btns-4: #393939;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: var(--warm-black); */
}

.btn, .text-center {
    font-family: 'PT Serif', serif !important;
}

.slider {
    width: 100%;
    height: 8px;
    background: #ddd;
    accent-color: var(--warm-black);
    outline: none;
    opacity: 0.7;
    transition: opacity .15s ease-in-out;
}

.slider:hover {
    opacity: 1;
}

.container {
    margin-top: 5em;
    max-width: 960px;
    width: 100%;
    background-color: var(--grey);
    border-radius: 15px;
    padding: 2em;
    gap: 1em;
}

.container * {
    color: var(--warm-black);
}

.string-key {
    width: 100%;
    height: 4em;
    margin: 0.5em 0;
}

/* Mobile buttons */
.btns-1 {
    background-color: var(--btns-1);
}

.btns-2 {
    background-color: var(--btns-2);
}

.btns-3 {
    background-color: var(--btns-3);
}

.btns-4 {
    background-color: var(--btns-4);
}

button:active {
    opacity: 0.9;
}

button:hover {
    background-color: #0e0e0e;
}

/* Mobile */
@media (max-width: 768px) {
    .container {
        margin-top: 0;
        max-width: 800px;
        height: 100vh;
        border-radius: 0;
    }
}