@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn, .text-center {
    font-family: 'Playfair Display', serif !important;
}

/* .slider {
    height: 8px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity .15s ease-in-out;
}

.slider:hover {
    opacity: 1;
} */

.container {
    margin-top: 5em;
    border: 1px solid black;
}